.active{
    margin-right:40px;
    transition: 0.5s;
}

.remove{
    margin-right:0px;
    transition: 0.5s;
}

.pagination{
    margin: auto;
}
.pagination li{
    margin: 5px;
}

html{
    scroll-behavior: smooth;
}




::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  



.colors{
width: 50px;
height: 50px;
border-radius: 7px;
border: 1px splid black ;
}

.sizes{
width: 50px;
height: 50px;
border-radius: 7px;
border: 1px splid black ;
}

.brands{
width: 76px;
height: 60px;
border-radius: 7px;
border: 1px splid black ;
}

.fa-star{
    color:#ffc107!important;
}

.fa-caret-square-up{
        position: fixed;
        bottom: -4px;
        right: 10px;
        display: none;
}

.sliderNav{
    width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 2;
    margin-left:-250px;
    position: fixed;
    z-index: 9;
}

.sliderNav ul li{
    list-style: none;

}

.sliderNav ul li a{
   color: black;
   font-size: 16px;
}

.socialIcons i{
    font-size: 50px;
    margin:5px;
}

.showSliderNav{
    position: absolute;
    top:11px;
    left:-20px;
    z-index: 8;
    display: none;
}


@media only screen and (max-width: 992px) {
    .navBarDisappear,.WelcometoOurMarket,.searchForm,.wishlist,.compare,.tel{

display:none

}



.showSliderNav{
        display: block;
}

   
  }

  @media only screen and (max-width: 992px) {

    .ShoppingIcon{
        display: none;

        
    }
    .shopforResponsive{
        display: block !important;
    }

  }

  input:focus{
    border-color: #ced4da !important;
        box-shadow: none !important;
    
    }


.btn:focus{
    border-color: transparent !important;
    box-shadow: none !important;
    }


button:focus{
        border-color: transparent !important;
    box-shadow: none !important;
    }


    
  .dropdown-item:hover {
    background-color: rgba(0,0,0,.04);
}

.navBarDisappear a:hover{
    background-color: #ced4da;
    }
    
    